<template>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-2"></div>
            <div class="col-8">
                <b-card class="text-left">
                    <div class="bg-header-shc text-light text-center">
                        <h3>Delivery Form</h3>
                    </div>
                    <b-form @submit="onSubmit" class="mt-3 pl-3 pr-3">
                        <div class="row">
                            <div class="col-3 pt-2">
                                Nama Customer
                            </div>
                            <div class="col-9 pt-2 pl-3">
                                {{inv.nama_cust}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 pt-2">
                                No. HP Customer
                            </div>
                            <div class="col-9 pt-2 pl-3">
                                {{inv.no_hp}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 pt-2">
                                Alamat Pickup
                            </div>
                            <div class="col-9 pt-2 pl-3">
                                {{inv.alamat}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 pt-2">
                                Jenis Barang
                            </div>
                            <div class="col-9 pt-2 pl-3">
                                {{inv.nama_brg}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 pt-2">
                                QTY
                            </div>
                            <div class="col-9 pt-2 pl-3">
                                {{inv.qty}}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3 pt-2">
                                <b-form-group id="input-group-1" label="Nama Penerima" label-for="input-1"></b-form-group>
                            </div>
                            <div class="col-9">
                                <b-form-input
                                        id="input-1"
                                        v-model="form.name"
                                        type="text"
                                        required
                                        placeholder="Masukan Penerima"
                                ></b-form-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 pt-2">
                                <b-form-group id="input-group-1" label="Nama Kurir" label-for="input-1"></b-form-group>
                            </div>
                            <div class="col-9">
                                <b-form-input
                                        id="input-1"
                                        v-model="form.courier"
                                        type="text"
                                        required
                                        placeholder="Masukan Nama Kurir"
                                ></b-form-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 pt-2">
                                <b-form-group id="input-group-1" label="Waktu Pickup" label-for="input-1"></b-form-group>
                            </div>
                            <div class="col-9">
                                <date-pick
                                        class="date-pickz"
                                        v-model="form.date"
                                        :pickTime="true"
                                        :format="'YYYY-MM-DD HH:mm'"
                                        :inputAttributes="{size: 85}"
                                >

                                </date-pick>
                            </div>
                        </div>
                        <div class="row mt-1 mb-1">
                            <div class="col-12 text-center">
                                <b-button type="submit" variant="primary" class="mt-2">Submit Pickup</b-button>
                            </div>
                        </div>
                    </b-form>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    import DatePick from 'vue-date-pick';
    import fecha from 'fecha';
    import 'vue-date-pick/dist/vueDatePick.css';

    export default {
        name: "CreateDelivery",
        components : {
            DatePick
        },
        data(){
            return {
                fields: ['no_invoice', 'nama_customer', 'total_harga','tanggal_invoice','action'],
                items: [],
                form : {
                    name : '',
                    courier: '',
                    date: fecha.format(new Date(), 'YYYY-MM-DD HH:mm')
                },
                format: 'YYYY-MM-DD HH:mm',
                inv : []
            }
        },
        methods : {
            onSubmit(evt){
                evt.preventDefault();
                const formData1 = new FormData();
                formData1.set('name', this.form.name);
                formData1.set('date', this.form.date);
                formData1.set('courier', this.form.courier);
                formData1.set('invoice_id', this.$route.query.id);

                this.$http.post(this.$apiUrl+'delivery/createDelivery', formData1)
                    .then(function (response) {
                        if(response.status === 200){
                            setTimeout(function(){
                                window.location = "/mitra/ListCreateDelivery"
                            }, 2000);
                        }
                    }, function (err) {
                        this.$toasted.show(err.data.message, {
                            theme: "toasted-primary",
                            position: "top-center",
                            duration : 5000
                        });
                    })
            }
        },
        mounted(){
            const formData = new FormData();
            formData.set('id',this.$session.get('kd_mitra'));
            formData.set('user_type', '1');
            formData.set('detail', this.$route.query.id);

            this.$http.post(this.$apiUrl+'invoice/listInvoice', formData)
                .then(function (response) {
                    if (response.status === 200) {
                        this.inv = response.data.data;
                    }
                }, function () {
                })
        }
    }
</script>

<style scoped>
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>