<template>
    <div class="container">
        <div class="row mt-5 mb-5" id="shoesType">
            <div class="col-12">
                <b-card>
                    <div class="bg-header-shc text-light text-center">
                        <h3>Create Invoice</h3>
                    </div>
                    <div class="row text-left">
                        <div class="col-12 mt-3">
                            <b-card>
                                <div class="row p-2">
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6">
                                                No. Order :
                                            </div>
                                            <div class="col-6">
                                                {{order_no}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6">
                                                Tanggal Order :
                                            </div>
                                            <div class="col-6">
                                                {{tgl_order}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6">
                                                Nama Mitra :
                                            </div>
                                            <div class="col-6">
                                                {{nama_mitra}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col-6">
                                                Nama Pemesan :
                                            </div>
                                            <div class="col-6">
                                                {{nama_cust}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <b-table striped hover :items="items"></b-table>
                                    </div>
                                    <div class="col-12 mt-5">

                                    </div>
                                    <div class="col-12 text-right">
                                        <b-button type="button" variant="primary" @click="submitInvoice(order_id)" class="">Submit Invoice</b-button>
                                    </div>
                                </div>
                            </b-card>
                        </div>
                    </div>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CreateInvoice",
        data(){
            return {
                order_id : '',
                order_no : '',
                tgl_order : '',
                nama_mitra : '',
                nama_cust : '',
                fields: ['no', 'merk', 'qty','jumlah'],
                items : []
            }
        },
        methods : {
            submitInvoice(id){
                const formData1 = new FormData();
                formData1.set('order_id', id);

                this.$http.post(this.$apiUrl+'invoice/createInvoice', formData1)
                    .then(function (response) {
                        if (response.status === 200) {
                            this.$toasted.show(response.data.message, {
                                theme: "toasted-primary",
                                position: "top-center",
                                duration : 5000
                            });


                            setTimeout(function(){
                                window.location = "/mitra/listCreateInvoice"
                            }, 2000);
                        }
                    }, function (err) {
                        this.$toasted.show(err.data.message, {
                            theme: "toasted-primary",
                            position: "top-center",
                            duration : 5000
                        });
                    })
            }
        },
        mounted(){
            const formData = new FormData();
            formData.set('id',this.$session.get('kd_mitra'));
            formData.set('user_type', '1');
            formData.set('detailId', this.$route.query.id);
            formData.set('detail', '1');

            this.$http.post(this.$apiUrl+'order/listOrder', formData)
                .then(function (response) {
                    if (response.status === 200) {
                        const detail_data = response.data.data;
                        this.order_id = detail_data.order_id;
                        this.order_no = detail_data.order_no;
                        this.tgl_order = detail_data.tgl_order;
                        this.nama_mitra = detail_data.nama_mitra;
                        this.nama_cust = detail_data.nama_cust;

                        let no = 1;
                        let list = [];

                        detail_data.detail.map(function (value) {
                            let item = {};
                            item.no = no;
                            item.merk = value.brand;
                            item.qty = value.qty;
                            item.jumlah = 'Rp '+ value.harga.toLocaleString();
                            no++;
                            list.push(item);
                        });


                        let addItem = {};
                        addItem.no = '';
                        addItem.merk = '';
                        addItem.qty = 'Total';
                        addItem.jumlah = 'Rp '+ detail_data.total_harga.toLocaleString();
                        list.push(addItem);

                        this.items = list;
                    }
                }, function (err) {
                    this.$toasted.show(err.data.message, {
                        theme: "toasted-primary",
                        position: "top-center",
                        duration : 5000
                    });
                })
        }
    }
</script>

<style scoped>
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>