<template>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-2"></div>
            <div class="col-8">
                <b-card class="text-left">
                    <div class="bg-header-shc text-light text-center">
                        <h3>Form Input Kuitansi</h3>
                    </div>
                    <b-form @submit="onSubmit" class="mt-3 pl-3 pr-3">
                        <div class="row">
                            <div class="col-3 pt-2">
                                Nama Customer
                            </div>
                            <div class="col-9 pt-2 pl-3">
                                {{inv.nama_cust}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 pt-2">
                                No. HP Customer
                            </div>
                            <div class="col-9 pt-2 pl-3">
                                {{inv.no_hp}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 pt-2">
                                Alamat Pickup
                            </div>
                            <div class="col-9 pt-2 pl-3">
                                {{inv.alamat}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 pt-2">
                                Jenis Barang
                            </div>
                            <div class="col-9 pt-2 pl-3">
                                {{inv.nama_brg}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 pt-2">
                                QTY
                            </div>
                            <div class="col-9 pt-2 pl-3">
                                {{inv.qty}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 pt-2">
                                Total Harga
                            </div>
                            <div class="col-9 pt-2 pl-3">
                                {{'Rp '+inv.total_harga.toLocaleString()}}
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3 pt-2">
                                <b-form-group id="input-group-1" label="Total Bayar" label-for="input-1"></b-form-group>
                            </div>
                            <div class="col-9">
                                <b-form-input
                                        id="input-1"
                                        v-model="form.total"
                                        type="text"
                                        required
                                        placeholder="Masukan Jumlah Bayar"
                                ></b-form-input>
                            </div>
                        </div>
                        <div class="row mt-1 mb-1">
                            <div class="col-12 text-center">
                                <b-button type="submit" variant="primary" class="mt-2">Submit Kuitansi</b-button>
                            </div>
                        </div>
                    </b-form>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "CreateReceipt",
        data(){
            return {
                items: [],
                form : {
                    total : 0
                },
                inv : []
            }
        },
        methods : {
            onSubmit(evt){
                evt.preventDefault();

                if(this.form.total < this.inv.total_harga){
                    this.$toasted.show('Jumlah Bayar Harus Sesuai Dengan Total Harga', {
                        theme: "toasted-primary",
                        position: "top-center",
                        duration : 3000
                    });
                }
                else{
                    const formData1 = new FormData();
                    formData1.set('total', this.form.total);
                    formData1.set('invoice_id', this.$route.query.id);

                    this.$http.post(this.$apiUrl+'receipt/createReceipt', formData1)
                        .then(function (response) {
                            if(response.status === 200){
                                setTimeout(function(){
                                    window.location = "/mitra/listCreateReceipt"
                                }, 2000);
                            }
                        }, function (err) {
                            this.$toasted.show(err.data.message, {
                                theme: "toasted-primary",
                                position: "top-center",
                                duration : 5000
                            });
                        })
                }
            }
        },
        mounted(){
            const formData = new FormData();
            formData.set('id',this.$session.get('kd_mitra'));
            formData.set('user_type', '1');
            formData.set('detail', this.$route.query.id);

            this.$http.post(this.$apiUrl+'invoice/listInvoice', formData)
                .then(function (response) {
                    if (response.status === 200) {
                        this.inv = response.data.data;
                    }
                }, function () {
                })
        }
    }
</script>

<style scoped>
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>