<template>
    <div class="container">
        <div class="row mt-5 mb-5" id="shoesType">
            <div class="col-12">
                <b-card class="text-center">
                    <div class="bg-header-shc text-light">
                        <h3>Create Invoice From Order</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <b-table :items="items" :fields="fields" striped responsive="sm">
                                <template v-slot:cell(action)="row">
                                    <b-button v-if="row.item.status !== 'INVOICE CREATED'" type="button" variant="primary" size="sm" @click="createInvoice(row.item.order_id)" class="">Create Invoice</b-button>
                                </template>
                            </b-table>
                        </div>
                        <div class="col-12 mt-3" v-if="items.length < 1">
                            No Data Found
                        </div>
                    </div>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ListCreateInvoice",
        data(){
            return {
                fields: ['no_order', 'nama_customer', 'total_harga','tanggal_order','status','action'],
                items: [
                ]
            }
        },
        methods:{
            createInvoice(id){
                window.location = '/mitra/createInvoice?id=' + id;
            }
        },
        mounted(){
            const formData = new FormData();
            formData.set('id',this.$session.get('kd_mitra'));
            formData.set('user_type', '1');

            this.$http.post(this.$apiUrl+'order/listOrder', formData)
                .then(function (response) {
                    if (response.status === 200) {
                        let list = [];
                        response.data.data.map(function (value) {
                            let item = {};
                            if(value.status === 1){
                                item.order_id = value.order_id;
                                item.no_order = value.order_no;
                                item.nama_customer = value.nama_cust;
                                item.total_harga = 'Rp '+ value.total_harga.toLocaleString();
                                item.tanggal_order = value.tgl_order;
                                item.status = 'INVOICE NOT CREATED';
                                item._showDetails = true
                                // item.value = value.;
                                list.push(item);
                            }
                        });
                        this.items = list;
                    }
                }, function () {
                    // window.location = "/";
                })
        }
    }
</script>

<style scoped>
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>