<template>
    <div class="container">
        <div class="row mt-5 mb-5" id="shoesType">
            <div class="col-12">
                <b-card class="text-center">
                    <div class="bg-header-shc text-light">
                        <h3>Create Kuitansi From Order</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <b-table :items="items" :fields="fields" striped responsive="sm">
                                <template v-slot:cell(action)="row">
                                    <b-button
                                            type="button" variant="primary" size="sm"
                                            @click="createReceipt(row.item.invoice_id)" class="">Buat Kuitansi</b-button>
                                </template>
                            </b-table>
                        </div>
                        <div class="col-12 mt-3" v-if="items.length < 1">
                            No Data Found
                        </div>
                    </div>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ListCreateReceipt",
        data(){
            return {
                fields: ['no_invoice', 'nama_customer', 'total_harga','tanggal_invoice','action'],
                items: [
                ]
            }
        },
        methods:{
            createReceipt(id){
                window.location = '/mitra/createReceipt?id=' + id;
            }
        },
        mounted(){
            const formData = new FormData();
            formData.set('id',this.$session.get('kd_mitra'));
            formData.set('user_type', '1');

            this.$http.post(this.$apiUrl+'receipt/listReceipt', formData)
                .then(function (response) {
                    if (response.status === 200) {
                        let list = [];
                        response.data.data.map(function (value) {
                            let item = {};
                            item.invoice_id = value.invoice_id;
                            item.no_invoice = value.no_invoice;
                            item.nama_customer = value.nama_cust;
                            item.total_harga = 'Rp '+ value.total_harga.toLocaleString();
                            item.tanggal_invoice = value.tgl_invoice;
                            item.status = 'INVOICE NOT CREATED';
                            item._showDetails = true
                            // item.value = value.;
                            list.push(item);
                        });
                        this.items = list;
                    }
                }, function () {
                    // window.location = "/";
                })
        }
    }
</script>

<style scoped>
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>