<template>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <b-card class="text-center">
                    <div class="bg-header-shc text-light">
                        <h3>Invoice to Pickup</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <b-table :items="items" :fields="fields" striped responsive="sm">
                                <template v-slot:cell(action)="row">
                                    <b-button v-if="row.item.status === 'INVOICE CREATED'"
                                              type="button"
                                              variant="primary"
                                              size="sm"
                                              :href="'/mitra/createPickup/?id=' + row.item.invoice_id"
                                    >
                                        Create Pickup
                                    </b-button>
                                </template>
                            </b-table>
                        </div>
                        <div class="col-12 mt-3" v-if="items.length < 1">
                            No Data Found
                        </div>
                    </div>
                </b-card>
            </div>
        </div>
        <PickupModal></PickupModal>
    </div>
</template>

<script>

    import PickupModal from "../../components/PickupModal";

    export default {
        name: "ListCreatePickup",
        components :{
            PickupModal
        },
        data(){
            return {
                fields: ['no_invoice', 'nama_customer', 'total_harga','tanggal_invoice','action'],
                items: [],
            }
        },
        mounted(){
            const formData = new FormData();
            formData.set('id',this.$session.get('kd_mitra'));
            formData.set('user_type', '1');

            this.$http.post(this.$apiUrl+'pickup/listPickup', formData)
                .then(function (response) {
                    if (response.status === 200) {
                        let list = [];
                        response.data.data.map(function (value) {
                            let item = {};
                            item.invoice_id = value.invoice_id;
                            item.no_invoice = value.no_invoice;
                            item.nama_customer = value.nama_cust;
                            item.total_harga = 'Rp '+ value.total_harga.toLocaleString();
                            item.tanggal_invoice = value.tgl_invoice;
                            if(value.status === 2){
                                item.status = 'INVOICE CREATED';
                            }
                            item._showDetails = true;
                            list.push(item);
                        });
                        this.items = list;
                    }
                }, function () {
                })
        }
    }
</script>

<style scoped>
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>