<template>
    <div class="container">
        <div class="row mt-5 mb-5" id="shoesType">
            <div class="col-12">
                <b-card class="text-center">
                    <div class="bg-header-shc text-light">
                        <h3>Laporan Pickup and Delivery</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <b-table :items="items" :fields="fields" striped responsive="sm">
                                <template v-slot:cell(no_invoice)="row">
                                    <a :href="'/mitra/detailInvoice/'+row.item.invoice_id">{{row.item.no_invoice}}</a>
                                </template>
                            </b-table>
                        </div>
                    </div>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ReportPickupDelivery",
        data(){
            return {
                fields: ['no','no_invoice','contact_number','driver_pick_up','date_of_pick_up','driver_delivery','date_of_delivery','receiver','date_of_receipt'],
                items: []
            }
        },
        methods:{
            createInvoice(id){
                window.location = '/mitra/createInvoice?id=' + id;
            }
        },
        mounted(){
            const formData = new FormData();
            formData.set('id',this.$session.get('kd_mitra'));

            this.$http.post(this.$apiUrl+'pickup/listPickupDelivery', formData)
                .then(function (response) {
                    if (response.status === 200) {
                        let list = [];
                        let no = 0;
                        response.data.data.map(function (value) {
                            let item = {};
                            no++;
                            item.no = no;
                            item.invoice_id = value.invoice_id ;
                            item.no_invoice = value.no_invoice;
                            item.contact_number = value.nama_cust;
                            item.driver_pick_up = value.pickup_driver == null ? "-" : value.pickup_driver;
                            item.driver_delivery = value.driver_delivery == null ? "-" : value.driver_delivery;
                            item.date_of_pick_up = value.wkt_pickup == null ? "-" : value.wkt_pickup;
                            item.date_of_delivery = value.wkt_delivery == null ? "-" : value.wkt_delivery;
                            item.receiver = value.nama_penerima == null ? "-" : value.nama_penerima;
                            item.date_of_receipt = value.tgl_kuitansi == null ? "-" : value.tgl_kuitansi;
                            list.push(item);
                        });
                        this.items = list;
                    }
                }, function () {
                    // window.location = "/";
                })
        }
    }
</script>

<style scoped>
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>
