<template>
    <div class="container">
        <div class="row mt-5 mb-5" id="shoesType">
            <div class="col-12">
                <b-card class="text-center">
                    <div class="bg-header-shc text-light">
                        <h3>Laporan Kuitansi</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <b-table :items="items" :fields="fields" striped responsive="sm">
                                <template v-slot:cell(no_invoice)="row">
                                    <a :href="'/mitra/detailInvoice/'+row.item.invoice_id">{{row.item.no_invoice}}</a>
                                </template>
                            </b-table>
                        </div>
                    </div>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ReportReceipt",
        data(){
            return {
                fields: ['no_invoice', 'total_harga', 'total_bayar', 'tanggal_bayar'],
                items: []
            }
        },
        methods:{
            createInvoice(id){
                window.location = '/mitra/createInvoice?id=' + id;
            }
        },
        mounted(){
            const formData = new FormData();
            formData.set('id',this.$session.get('kd_mitra'));

            this.$http.post(this.$apiUrl+'receipt/listPaid', formData)
                .then(function (response) {
                    if (response.status === 200) {
                        let list = [];
                        response.data.data.map(function (value) {
                            let item = {};
                            item.invoice_id = value.invoice_id;
                            item.no_invoice = value.no_invoice;
                            item.tanggal_bayar = value.tgl_kuitansi;
                            item.total_bayar = 'Rp '+ value.total_bayar.toLocaleString();
                            item.total_harga = 'Rp '+ value.total_harga.toLocaleString();
                            list.push(item);
                        });
                        this.items = list;
                    }
                }, function () {
                    // window.location = "/";
                })
        }
    }
</script>

<style scoped>
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>
