<template>
    <div class="container">
        <div class="row mt-5 mb-5" id="shoesType">
            <div class="col-12">
                <b-card class="text-center">
                    <div class="bg-header-shc text-light">
                        <h3>Laporan Data Customer</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <b-table :items="items" :fields="fields" striped responsive="sm">
                                <template v-slot:cell(no_invoice)="row">
                                    <a :href="'/mitra/detailInvoice/'+row.item.invoice_id">{{row.item.no_invoice}}</a>
                                </template>
                            </b-table>
                        </div>
                    </div>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ReportCustomer",
        data(){
            return {
                fields: ['no_invoice', 'nama_customer', 'total_harga','tanggal_invoice','status'],
                items: []
            }
        },
        methods:{
        },
        mounted(){
            const formData = new FormData();
            formData.set('id',this.$session.get('kd_mitra'));
            formData.set('user_type', '1');

            this.$http.post(this.$apiUrl+'invoice/listInvoiceDefault', formData)
                .then(function (response) {
                    if (response.status === 200) {
                        let list = [];
                        response.data.data.map(function (value) {
                            let item = {};
                            item.invoice_id = value.invoice_id;
                            item.no_invoice = value.no_invoice;
                            item.nama_customer = value.nama_cust;
                            item.total_harga = 'Rp '+ value.total_harga.toLocaleString();
                            item.tanggal_invoice = value.tgl_invoice;
                            if(value.status === 1){
                                item.status = 'SUBMITTED';
                            }
                            if(value.status === 2){
                                item.status = 'ON PROCESS TO PICKUP';
                            }
                            if(value.status === 3){
                                item.status = 'ON PROCESS DELIVERY';
                            }
                            if(value.status === 4){
                                item.status = 'ON PROCESS PAYMENT';
                            }
                            if(value.status === 5){
                                item.status = 'COMPLETED';
                            }
                            list.push(item);
                        });
                        this.items = list;
                    }
                }, function () {
                    // window.location = "/";
                })
        }
    }
</script>

<style scoped>
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>