<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>logo.ico">
    <title>ShoClean</title>
    <link rel="stylesheet" href="<%= BASE_URL %>assets/fontawesome-5.11.2/css/all.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but ShoClean doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
