<template>
    <div class="container">
        <div class="row mt-5 mb-5" id="shoesType">
            <div class="col-12">
                <b-card class="text-center">
                    <div class="bg-header-shc text-light">
                        <h3>About Us</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <div class="row text-md-center">
                                <div class="col-12">
                                    <b-card title=""
                                            img-src="../../public/assets/img/authentic leather.png"
                                            img-alt="Image"
                                            img-top
                                    >
                                        <b-card-text>
                                            <p>ShoClean Laundry hadir sebagai penyedia service Laundry dan Reparasi Tas dan sepatu area Jabodetabek. Kami sangat serius meningkatkan kualitas dan juga terus membagikan tips dalam merawat sepatu. Tentu tiap jenis sepatu memiliki cara / tingkat kesulitan yang sangat berbeda untuk dibersihkan.</p>
                                            <p>Kami memiliki langkah-langkah / SOP yang rinci dalam memberikan dan mencuci sepatu anda. kepuasan pelanggan kami menjadi prioritas dalam bisnis kami</p>
                                        </b-card-text>
                                    </b-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    // import HomeMenu from '../components/HomeMenu'
    // import ShoesType from "../components/ShoesType";
    // import BagType from "../components/BagType";
    // import BeforeAfter from "../components/BeforeAfter";

    export default {
        name: "AboutUs",
        components: {
            // BeforeAfter,
            // BagType,
            // ShoesType,
            // HomeMenu
        }
    }
</script>

<style scoped>
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>