<template>
    <div class="container">
        <HomeMenu></HomeMenu>
        <ShoesType></ShoesType>
        <BagType></BagType>
        <BeforeAfter></BeforeAfter>
    </div>
</template>

<script>
    import HomeMenu from '../components/HomeMenu'
    import ShoesType from "../components/ShoesType";
    import BagType from "../components/BagType";
    import BeforeAfter from "../components/BeforeAfter";

    export default {
        name: "Homepage",
        components: {
            BeforeAfter,
            BagType,
            ShoesType,
            HomeMenu
        }

    }
</script>

<style scoped>
</style>