<template>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-2"></div>
            <div class="col-8">
                <b-card class="text-left">
                    <div class="bg-header-shc text-light text-center">
                        <h3>Order Service</h3>
                    </div>
                    <b-form @submit="onSubmit" class="mt-3 pl-3 pr-3">
                        <div class="row">
                            <div class="col-3 pt-2">
                                <b-form-group id="input-group-1" label="Nama" label-for="input-1"></b-form-group>
                            </div>
                            <div class="col-9">
                                <b-form-input
                                        id="input-1"
                                        v-model="form.name"
                                        type="text"
                                        required
                                        placeholder="Masukan Nama"
                                ></b-form-input>
                            </div>
                        </div>
                        <div class="row mt-1 mb-1">
                            <div class="col-3 pt-2">
                                <b-form-group id="input-group-2" label="Alamat" label-for="input-2"></b-form-group>
                            </div>
                            <div class="col-9">
                                <b-form-textarea
                                        id="input-2"
                                        v-model="form.address"
                                        type="text"
                                        required
                                        placeholder="Alamat"
                                ></b-form-textarea>
                            </div>
                        </div>
                        <div class="row mt-2 mb-1">
                            <div class="col-3 pt-2">
                                <b-form-group id="input-group-3" label="No. Handphone" label-for="input-3"></b-form-group>
                            </div>
                            <div class="col-9">
                                <b-form-input
                                        id="input-3"
                                        v-model="form.phone"
                                        type="text"
                                        required
                                        placeholder="No. Handphone"
                                ></b-form-input>
                            </div>
                        </div>
                        <div class="row mt-1 mb-1">
                            <div class="col-3 pt-2">
                                <b-form-group id="input-group-4" label="Jenis Barang" label-for="input-4"></b-form-group>
                            </div>
                            <div class="col-9">
                                <b-form-select
                                        id="input-4"
                                        v-model="form.item"
                                        type="text"
                                        required

                                        :options="items"
                                ></b-form-select>
                            </div>
                        </div>
                        <div class="row mt-1 mb-1">
                            <div class="col-3 pt-2">
                                <b-form-group id="input-group-5" label="Jenis Service" label-for="checkbox-group-1"></b-form-group>
                            </div>
                            <div class="col-9">
                                <b-form-checkbox-group
                                        id="checkbox-group-1"
                                        v-if="form.item === 1"
                                        v-model="form.services"
                                        :options="bagServices"
                                ></b-form-checkbox-group>

                                <b-form-checkbox-group
                                        id="checkbox-group-1"
                                        v-if="form.item === 2"
                                        v-model="form.services"
                                        :options="shoesServices"
                                ></b-form-checkbox-group>
                            </div>
                        </div>
                        <div class="row mt-1 mb-1">
                            <div class="col-3 pt-2">
                                <b-form-group id="input-group-6" label="Merk Barang" label-for="input-6"></b-form-group>
                            </div>
                            <div class="col-9">
                                <b-form-input
                                        id="input-6"
                                        v-model="form.brand"
                                        type="text"
                                        required
                                        placeholder="Merk Barang"
                                ></b-form-input>
                            </div>
                        </div>
                        <div class="row mt-1 mb-1">
                            <div class="col-3 pt-2">
                                <b-form-group id="input-group-7" label="Jumlah" label-for="input-7"></b-form-group>
                            </div>
                            <div class="col-9">
                                <b-form-input
                                        id="input-7"
                                        v-model="form.quantity"
                                        type="number"
                                        required
                                        placeholder="Jumlah"
                                ></b-form-input>
                            </div>
                        </div>
                        <div class="row mt-1 mb-1">
                            <div class="col-3 pt-2">
                                <b-form-group id="input-group-2" label="Notes" label-for="input-2"></b-form-group>
                            </div>
                            <div class="col-9">
                                <b-form-textarea
                                        id="input-2"
                                        v-model="form.note"
                                        type="text"
                                        placeholder="Notes"
                                ></b-form-textarea>
                            </div>
                        </div>
                        <div class="row mt-1 mb-1">
                            <div class="col-12 text-center">
                                <b-button type="submit" variant="primary" class="mt-2">Submit Order</b-button>
                            </div>
                        </div>
                    </b-form>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "OrderCreate",
        data(){
            return{
                form: {
                    name :'',
                    phone :'',
                    services:[],
                    item : 1,
                    brand : '',
                    quantity: '',
                    note : '',
                    partner_id : this.$route.query.order,
                    cust_id : this.$session.get('kd_cust'),

                },
                items : [
                    {text : 'Tas', value : 1},
                    {text : 'Sepatu', value : 2}
                ],
                shoesServices : [
                ],
                bagServices : [
                ]
            }
        },
        methods: {
            onSubmit(evt){
                evt.preventDefault();
                const formData = new FormData();
                Object.keys(this.form).forEach((key) =>{
                    formData.set(key,this.form[key]);
                });

                this.$http.post(this.$apiUrl+'order/createOrder', formData)
                    .then(function (response) {
                        if (response.status === 200) {
                            this.$toasted.show(response.data.message, {
                                theme: "toasted-primary",
                                position: "top-center",
                                duration : 5000
                            });

                            setTimeout(function(){
                                window.location = "/";
                            }, 1000);
                        }
                    }, function (err) {
                        this.$toasted.show(err.data.message, {
                            theme: "toasted-primary",
                            position: "top-center",
                            duration : 5000
                        });
                    })
            }
        },
        mounted() {
            if(this.$session.get('login_status') !== 'logged_in' || this.$session.get('role') !== 'customer' || this.$route.query.order === ""){
                window.location = "/";
            }

            console.log(this.$session.getAll());

            const formData = new FormData();
            formData.set('partner_id', this.$route.query.order);

            this.$http.post(this.$apiUrl+'service/mitra', formData)
                .then(function (response) {
                    if (response.status === 200) {
                        let list1 = [];
                        let list2 = [];
                        response.data.data.map(function (value) {
                            let item = {};
                            item.text = value.nama_service
                            item.value = value.kd_service;
                            if(value.kd_brg === 1){
                                list1.push(item);
                            }
                            else{
                                list2.push(item);
                            }
                        });
                        this.bagServices = list1;
                        this.shoesServices = list2;
                    }
                }, function () {
                    window.location = "/";
                })
        }
    }
</script>

<style scoped>
    .bg-header-shc {
        background-color: #007bff !important;
    }
</style>