<template>
    <div class="container mb-5 text-left">
        <b-card class="text-center">
            <div class="bg-header-shc text-light">
                <h2>Form Lokasi Order</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <b-form @submit="onSubmit" v-if="show" class="mt-5">
                        <b-form-group id="input-group-3" label="Jenis Service:" label-for="input-3">
                            <b-form-select
                                    id="input-3"
                                    v-model="form.service"
                                    :options="service"
                                    required
                            ></b-form-select>
                        </b-form-group>

                        <b-form-group id="input-group-4" label="Kota :" label-for="input-4">
                            <b-form-select
                                    id="input-4"
                                    v-model="form.city"
                                    :options="city"
                                    required
                            ></b-form-select>
                        </b-form-group>

                        <b-button class="mt-2" type="submit" variant="primary">Cari</b-button>
                    </b-form>
                </div>

                <div class="col-12 mt-5" v-if="result == 1">
                    <b-list-group>
                        <b-list-group-item v-for="item in result_data" :key="item.id">
                            <div class="row">
                                <div class="col-8">
                                    {{ item.nama_mitra }} <i class="fas fa-map-marker-alt"></i> <br>
                                    {{ item.alamat_mitra }}
                                </div>
                                <div class="col-4">
                                    <b-button class="mt-2" type="button" @click="order(item.kd_mitra)" variant="primary">Pilih</b-button>
                                </div>
                            </div>
                        </b-list-group-item>
                    </b-list-group>
                </div>

            </div>
        </b-card>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    service: null,
                    city: null
                },
                service: [],
                city: [],
                show: true,
                result: '0',
                result_data : []
            }
        },
        methods: {
            onSubmit(evt) {
                const formData = new FormData();
                formData.set('service', this.form.service);
                formData.set('city', this.form.city);

                evt.preventDefault();
                this.$http.post(this.$apiUrl + 'order/findLocation', formData)
                    .then(function (response) {
                        if (response.status === 200) {
                            this.result = '1';
                            this.result_data = response.data.data;
                        }
                    }, function (err) {
                        this.$toasted.show(err.data.message, {
                            theme: "toasted-primary",
                            position: "top-center",
                            duration: 5000
                        });
                    })
            },
            order(id){
                let url = 'orderCreate?order='+id;
                if(this.$session.get('login_status') === 'logged_in' && this.$session.get('role') === 'customer'){
                    window.location = url;
                }
                else{
                    this.$toasted.show("Please Login First", {
                        theme: "toasted-primary",
                        position: "top-right",
                        duration: 5000
                    });
                    this.$afterLoginUrl = url;
                    this.$root.$emit('bv::show::modal', 'bv-login-modal');
                }
            }
        },
        mounted() {
            // GET /someUrl
            this.$http.get(this.$apiUrl + 'service').then(response => {
                if (response.status === 200) {
                    let list = [];
                    list.push({text: 'Pilih', value: null})
                    response.data.data.map(function (value) {
                        let item = {};
                        item.text = value.nama_brg + ' - ' + value.nama_service;
                        item.value = value.kd_service;
                        list.push(item);
                    })
                    this.service = list;
                }
                // success callback
            }, response => {
                console.log(response)
                // error callback
            });

            this.$http.get(this.$apiUrl + 'city').then(response => {
                if (response.status === 200) {
                    let list = [];
                    list.push({text: 'Pilih', value: null})
                    response.data.data.map(function (value) {
                        let item = {};
                        item.text = value.nama_kota
                        item.value = value.kd_kota;
                        list.push(item);
                    })
                    this.city = list;
                }
                // success callback
            }, response => {
                console.log(response)
                // error callback
            });
        },
        name: "OrderLocationForm"
    }
</script>

<style scoped>
    .bg-header-shc {
        background-color: #007bff !important;
    }
</style>