<template>
    <div class="container">
        <div class="row mt-5 mb-5" id="shoesType">
            <div class="col-12">
                <b-card class="text-center">
                    <div class="bg-header-shc text-light">
                        <h3>Mitra Kami</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <div class="row text-left">
                                <div class="col-4">
                                    <img class="img-detail" src="../../public/assets/img/authentic leather.png"/>
                                </div>
                                <div class="col-8">
                                    <b-card title="">
                                        <b-card-text>
                                            Bisnis Kemitraan untuk area Jabodetabek ini memberikan sistem kerjasama tanpa fee royalti perbulannya. Pada websitenya ShoClean memberikan fasilitas SOP yang sayang mudah diaplikasikan oleh mitra.<br>
                                            Untuk Menjadi mitra dari ShoClean, ada syarat yang harus dipenuhi yaitu : <br>
                                            <ul>
                                                <li>Memiliki komepetensi dalam treatmen service</li>
                                                <li>Memiliki kurir untuk pick up & delivery service</li>
                                                <li>Kurir memiliki SIM minimal C</li>
                                                <li>Mitra harus berada di area Jabodetabek</li>
                                            </ul>
                                        </b-card-text>

                                        <b-button class="mt-2" id="register" href="/registerPartner" type="button" variant="primary">Register Mitra</b-button>
                                    </b-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Partners"
    }
</script>

<style scoped>
    .img-detail{
        max-height: 200px;
        width: 100%;
    }
    .bg-header-shc{
        background-color: #007bff !important;
    }
    #register{
        width: 100%;
    }
</style>