<template>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <b-card class="text-center">
                    <div class="bg-header-shc text-light">
                        <h3>Register Mitra</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <div class="row text-left pl-3">

                                <b-card-text>
                                    <h2>Mari Bergabung Bersama Kami</h2>
                                </b-card-text>

                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <b-form @submit="onSubmit">
                                <div class="row text-left pl-3">
                                    <div class="col-6">
                                        <b-form-group
                                                id="input-group-1"
                                                label-for="input-1"
                                        >
                                            <b-form-input
                                                    id="input-1"
                                                    v-model="form.name"
                                                    type="text"
                                                    required
                                                    placeholder="Nama Tempat Laundry"
                                            ></b-form-input>
                                        </b-form-group>

                                        <b-form-group id="input-group-2">
                                            <b-form-input
                                                    id="input-2"
                                                    v-model="form.phone"
                                                    type="text"
                                                    required
                                                    placeholder="No. Handphone"
                                            ></b-form-input>
                                        </b-form-group>

                                        <b-form-group id="input-group-3">
                                            <b-form-input
                                                    id="input-3"
                                                    v-model="form.email"
                                                    type="email"
                                                    required
                                                    placeholder="Email"
                                            ></b-form-input>
                                        </b-form-group>
                                    </div>
                                    <div class="col-6">
                                        <b-form-group
                                                id="input-group-4"
                                                label-for="input-4"
                                        >
                                            <b-form-input
                                                    id="input-4"
                                                    v-model="form.contact"
                                                    type="text"
                                                    required
                                                    placeholder="Nama Penanggung Jawab"
                                            ></b-form-input>
                                        </b-form-group>

                                        <b-form-group
                                                id="input-group-8"
                                                label-for="input-8"
                                        >
                                            <b-form-input
                                                    id="input-8"
                                                    v-model="form.username"
                                                    type="text"
                                                    required
                                                    placeholder="Username"
                                            ></b-form-input>
                                        </b-form-group>

                                        <b-form-group id="input-group-5">
                                            <b-form-input
                                                    id="input-5"
                                                    v-model="form.password"
                                                    type="password"
                                                    required
                                                    placeholder="Password"
                                            ></b-form-input>
                                        </b-form-group>
                                    </div>
                                    <div class="col-6 mt-3">
                                        <b-form-textarea
                                                id="textarea"
                                                v-model="form.address"
                                                placeholder="Alamat"
                                                rows="1"
                                                max-rows="6"
                                        ></b-form-textarea>
                                    </div>
                                    <div class="col-6 mt-3">
                                        <b-form-select
                                                id="input-7"
                                                v-model="form.city"
                                                :options="city"
                                                required
                                        ></b-form-select>
                                    </div>
                                    <div class="col-3 mt-3 pl-3">
                                        <b-form-group label="Jenis Service">
                                            <b-form-checkbox-group
                                                    v-model="form.selected"
                                                    :options="bagService"
                                                    name="flavour-2a"
                                                    stacked
                                            ></b-form-checkbox-group>
                                        </b-form-group>
                                    </div>
                                    <div class="col-3 mt-3">
                                        <b-form-group label=":">
                                            <b-form-checkbox-group
                                                    v-model="form.selected"
                                                    :options="shoesServices"
                                                    name="flavour-2a"
                                                    stacked
                                            ></b-form-checkbox-group>
                                        </b-form-group>
                                    </div>
                                    <div class="col-12 mt-3 text-md-center">
                                        <b-form-checkbox
                                                id="checkbox-1"
                                                v-model="status"
                                                name="checkbox-1"
                                                value="accepted"
                                                unchecked-value="not_accepted"
                                        >
                                            Saya setuju dengan syarat dan ketentuan berlaku
                                        </b-form-checkbox>


                                        <b-button type="submit" variant="primary" class="mt-2">Register</b-button>
                                    </div>
                                </div>
                            </b-form>
                        </div>
                    </div>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "RegisterPartner",
        data() {
            return {
                form: {
                    username: '',
                    password: '',
                    contact :'',
                    name :'',
                    phone :'',
                    email :'',
                    city : null,
                    selected:[]
                },
                status : 'not_accepted',
                city : [],
                serviceType: [
                    { text: 'Tas', value: '1' },
                    { text: 'Sepatu', value: '2' },
                ],
                bagService:[],
                shoesServices:[],
                selected : [],
                show: true,
            }
        },
        mounted (){
            if(this.$session.get('login_status') === 'logged_in'){
                window.location = '/';
            }

            this.$http.get(this.$apiUrl+'city').then(response => {
                if(response.status === 200){
                    let list=[];
                    list.push({text:'Pilih Kota',value:null})
                    response.data.data.map(function(value) {
                        let item = {};
                        item.text = value.nama_kota
                        item.value = value.kd_kota;
                        list.push(item);
                    })
                    this.city = list;
                }
                // success callback
            }, response => {
                console.log(response)
                // error callback
            });
            // GET /someUrl
            this.$http.get(this.$apiUrl+'service').then(response => {
                if(response.status === 200){
                    let list=[];
                    let list2=[];
                    response.data.data.map(function(value) {
                        let item = {};
                        item.text = value.nama_brg +' - '+ value.nama_service;
                        item.value = value.kd_service;

                        if(value.kd_brg == '1'){
                            list.push(item);
                        }
                        else if(value.kd_brg == '2'){
                            list2.push(item);
                        }
                    });
                    this.bagService = list;
                    this.shoesServices = list2;
                }
                // success callback
            }, response => {
                console.log(response)
            });
        },
        methods :{
            onSubmit (evt) {
                evt.preventDefault();
                if(this.status === 'accepted'){
                    //api register here
                    const formData = new FormData();
                    Object.keys(this.form).forEach((key) =>{
                        formData.set(key,this.form[key]);
                    });
                    formData.set('user_type', '1');
                    this.$http.post(this.$apiUrl+'auth/register', formData)
                    .then(function (response) {
                        if (response.status === 200) {
                            const formData2 = new FormData();
                            formData2.set('username', this.form.username);
                            formData2.set('password',this.form.password);

                            evt.preventDefault();
                            this.$http.post(this.$apiUrl+'auth/login', formData2)
                                .then(function (response) {
                                    if (response.status === 200) {
                                        this.$session.start();

                                        Object.keys(response.data.user).forEach((key) =>{
                                            this.$session.set(key,response.data.user[key]);
                                        });

                                        if(response.data.user.user_type === '1'){
                                            this.$session.set('role', 'mitra')
                                        }

                                        if(response.data.user.user_type === '2'){
                                            this.$session.set('role', 'customer')
                                        }

                                        if(response.data.user.user_type === '3'){
                                            this.$session.set('role', 'admin')
                                        }

                                        this.$session.set('login_status', 'logged_in')

                                        this.loadingState = true;

                                        this.$toasted.show(response.data.message, {
                                            theme: "toasted-primary",
                                            position: "top-center",
                                            duration : 5000
                                        });

                                        setTimeout(function(){
                                            window.location.reload()
                                        }, 1000);

                                    }
                                }, function (err) {
                                    this.$toasted.show(err.data.message, {
                                        theme: "toasted-primary",
                                        position: "top-center",
                                        duration : 5000
                                    });
                                })

                        }

                        if (response.status === 409) {
                            response.forEach((value) => {
                                this.$toasted.show(value, {
                                    theme: "toasted-primary",
                                    position: "top-center",
                                    duration : 5000
                                });
                            });
                        }
                    }, function (err) {
                        this.$toasted.show(err.data.message, {
                            theme: "toasted-primary",
                            position: "top-center",
                            duration : 5000
                        });
                    });
                }
                else{
                    this.$toasted.show('Please Accept Terms and Condition', {
                        theme: "toasted-primary",
                        position: "top-center",
                        duration : 5000
                    });
                }
                // alert(status)
            }
        }
    }
</script>

<style scoped>
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>