<template>
    <div class="container mb-5">
        <b-card class="text-center">
            <div class="bg-header-shc text-light">
                <div class="row">
                    <div class="col-3 pt-2 ml-2 pb-0">
                        <b-form-select v-model="selected" class="mb-3">
                            <option value="a">Service Tas</option>
                            <option value="b">Service Sepatu</option>
                        </b-form-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mt-3" v-if="selected == 'a'">
                    <BagService></BagService>
                </div>
                <div class="col-12 mt-3" v-if="selected == 'b'">
                    <ShoesService></ShoesService>
                </div>
            </div>
            <b-button class="mt-5" href="/orderLocation" variant="primary">Order Now</b-button>
        </b-card>
    </div>
</template>

<script>
    import ShoesService from '../components/ShoesService'
    import BagService from '../components/BagService'

    export default {
        name: "Service",
        data() {
            return {
                selected: 'a'
            }
        },
        components:{
            ShoesService,
            BagService
        },
        mounted(){
            if(this.$route.query.type == 'shoes'){
                this.selected ='b';
            }
        }
    }
</script>

<style scoped>
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>