<template>
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row text-left">
                <div class="col-4">
                    <img class="img-detail" src="../../public/assets/img/beludrusuede.png"/>
                </div>
                <div class="col-8">
                    <b-card title="">
                        <b-card-text>
                            <b>Leather Fast/Standard/Deepclean</b>
                            <p>All Size Duration : 1 Week</p>
                        </b-card-text>
                    </b-card>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="row text-left">
                <div class="col-4">
                    <img class="img-detail" src="../../public/assets/img/beludrusuede.png"/>
                </div>
                <div class="col-8">
                    <b-card title="">
                        <b-card-text>
                            <b>Canvas Fast/Standard/Deepclean</b>
                            <p>All Size <br> Duration : 1-2 Week</p>
                        </b-card-text>
                    </b-card>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="row text-left">
                <div class="col-4">
                    <img class="img-detail" src="../../public/assets/img/beludrusuede.png"/>
                </div>
                <div class="col-8">
                    <b-card title="">
                        <b-card-text>
                            <b>Suede Fast/Standard/Deepclean</b>
                            <p>All Size Duration : 2 Weeks</p>
                        </b-card-text>
                    </b-card>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="row text-left">
                <div class="col-4">
                    <img class="img-detail" src="../../public/assets/img/beludrusuede.png"/>
                </div>
                <div class="col-8">
                    <b-card title="">
                        <b-card-text>
                            <b>Back Pack Fast/Standard/Deepclean</b>
                            <p>All Size Duration : 2 Weeks</p>
                        </b-card-text>
                    </b-card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BagService"
    }
</script>

<style scoped>
    .img-detail{
        max-height: 200px;
        width: 100%;
    }
</style>