<template>
    <div class="row mt-5 mb-5" id="bagType">
        <div class="col-12">
            <b-card class="text-center">
                <div class="bg-header-shc text-light">
                    <h3>Jenis Tas Dan Penanganan</h3>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <b-card-text class="text-left">
                            <h5><b>Berbahan Beludru / Suede</b></h5>
                        </b-card-text>
                        <div class="row text-left">
                            <div class="col-4">
                                <img class="img-detail" src="../../public/assets/img/beludrusuede.png"/>
                            </div>
                            <div class="col-8">
                                <b-card title="">
                                    <b-card-text>
                                        Cara Merawat dan Membersihkan: <br />
                                        - Hindari bersentuhan dengan air atau minyak <br />
                                        - Gunakan sikat khusus atau sikat gigi yang paling lembut <br />
                                        - Bersihkan dengan tisu atau penghapus pensil warna putih <br />
                                    </b-card-text>
                                </b-card>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <b-card-text class="text-left">
                            <h5><b>Berbahan Dasar Kulit Vintage</b></h5>
                        </b-card-text>
                        <div class="row text-left">
                            <div class="col-4">
                                <img class="img-detail" src="../../public/assets/img/kulit vintage.png"/>
                            </div>
                            <div class="col-8">
                                <b-card title="">
                                    <b-card-text>
                                        Cara Merawat dan Membersihkan: <br />
                                        - Gosoklah dengan kondisioner khusus <br />
                                        - Gunakan sikat dengan bulu halus <br />
                                        - Gunakan alkohol untuk membersihkan <br />
                                        - Hindari dari terkena minyak bumi <br />
                                    </b-card-text>
                                </b-card>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <b-card-text class="text-left">
                            <h5><b>Berbahan Patent Leather</b></h5>
                        </b-card-text>
                        <div class="row text-left">
                            <div class="col-4">
                                <img class="img-detail" src="../../public/assets/img/patent leather.png"/>
                            </div>
                            <div class="col-8">
                                <b-card title="">
                                    <b-card-text>
                                        Cara Merawat dan Membersihkan: <br />
                                        - Simpan tas di dalam kantung kain terpisah <br />
                                        - Bersihkan dengan petroleum jelly atau sedikit alkohol <br />
                                        - Lap dengan kain halus <br />
                                    </b-card-text>
                                </b-card>
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <b-card-text class="text-left">
                                <h5><b>Berbahan Dasar Kanvas</b></h5>
                            </b-card-text>
                            <div class="row text-left">
                                <div class="col-4">
                                    <img class="img-detail" src="../../public/assets/img/kanvas.png"/>
                                </div>
                                <div class="col-8">
                                    <b-card title="">
                                        <b-card-text>
                                            Cara Merawat dan Membersihkan: <br />
                                            - Pada saat membersihkan masukkan kertas ke dalam bagian utama tas <br />
                                            - Gunakan lap yang sudah direndam air dingin <br />
                                            - Gosokan dengan lembut pada bagian yang kotor <br />
                                            - Gunakan shampo bayi <br />
                                        </b-card-text>
                                    </b-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </b-card>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BagType"
    }
</script>

<style scoped>
    .img-detail{
        max-height: 200px;
        width: 100%;
    }
    .bg-header-shc{
        background-color: #007bff !important;
    }

</style>