<template>
    <div class="row mt-5 mb-5" id="beforeAfter">
        <div class="col-12">
            <b-card class="text-center">
                <div class="bg-header-shc text-light">
                    <h3>Before After</h3>
                </div>
                <div class="row">
                    <div class="col-4 mt-3">
                        <expandable-image :src="require('../../public/assets/img/beforeafter1.png')"
                        />
                    </div>
                    <div class="col-4 mt-3">
                        <expandable-image :src="require('../../public/assets/img/beforeafter2.png')"
                        />
                    </div>
                    <div class="col-4 mt-3">
                        <expandable-image :src="require('../../public/assets/img/beforeafter3.png')"
                        />
                    </div>
                    <div class="col-4 mt-3">
                        <expandable-image :src="require('../../public/assets/img/beforeafter4.png')"
                        />
                    </div>
                    <div class="col-4 mt-3">
                        <expandable-image :src="require('../../public/assets/img/beforeafter5.png')"
                        />
                    </div>
                    <div class="col-4 mt-3">
                        <expandable-image :src="require('../../public/assets/img/beforeafter6.png')"
                        />
                    </div>
                    <div class="col-4 mt-3">
                        <expandable-image :src="require('../../public/assets/img/beforeafter7.png')"
                        />
                    </div>
                    <div class="col-4 mt-3">
                        <expandable-image :src="require('../../public/assets/img/beforeafter8.png')"
                        />
                    </div>
                    <div class="col-4 mt-3">
                        <expandable-image :src="require('../../public/assets/img/beforeafter9.png')"
                        />
                    </div>
                </div>
            </b-card>
        </div>
    </div>
</template>

<script>
    export default {
        name: "BeforeAfter"
    }
</script>

<style scoped>
    .img-detail{
        max-height: 200px;
        width: 100%;
    }
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>