<template>
    <footer class="container-fluid shc-footer" style="text-align: center">
        <div class="row p-3">
            <div class="col-md-12 align-middle mb-4">
                <h5 class="text-light">Contact Us :</h5>
            </div>
            <div class="col-md-12 align-middle mb-2">
                <div class="row p-3">
                    <div class="col-md-4 align-middle">
                        <a href="#" class="mb-2">
                            <i class="far fa-user-circle fa-lg -text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <br />
                        <p class="text-light">08111123456</p>
                    </div>
                    <div class="col-md-4 align-middle">
                        <a href="#">
                            <i class="far fa-envelope fa-lg -text mr-md-5 mr-3 fa-2x"></i>
                        </a>
                        <br />
                        <p class="text-light">shoclean@laundry.co.id</p>
                    </div>
                    <div class="col-md-4 align-middle">
                        <a href="#">
                            <i class="fab fa-twitter fa-lg -text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <br />
                        <p class="text-light">@shocleanlaundry</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 align-middle mb-2">
                <p style="color: white">© {{ new Date().getFullYear() }}. All Rights Reserved ShoClean</p>
            </div>
        </div>

    </footer>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>

    .shc-footer {
        background-color: #191426;
        height: 250px;
    }

</style>