<template>
    <b-modal id="bv-forgetPassword-modal" ref="bv-forgetPassword-modal" hide-footer
             :header-bg-variant="headerBgVariant"
             :header-text-variant="headerTextVariant">
        <template v-slot:modal-title>
            Forget Password
        </template>
        <div class="d-block text-center">
            <b-form>
                <b-form-group
                        id="input-group-0"
                        label-for="input-0"
                >
                    <b-form-input
                            id="input-0"
                            v-model="form.identity"
                            type="text"
                            required
                            placeholder="Username or Email"
                    ></b-form-input>
                </b-form-group>

                <b-button size="lg" type="submit" variant="primary" class="mt-2">Confirm</b-button>
            </b-form>
        </div>
    </b-modal>
</template>

<script>
    export default {
        name: "ForgetPassword",
        data() {
            return {
                form : {
                    'identity' : ''
                },
                status : 'not_accepted',
                show: false,
                variants: ['primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark'],
                headerBgVariant: 'primary',
                headerTextVariant: 'light',
                bodyBgVariant: 'light',
                bodyTextVariant: 'dark',
                footerBgVariant: 'warning',
                footerTextVariant: 'dark'
            }
        },
    }
</script>

<style scoped>

</style>