<template>
    <nav class="navbar navbar-expand-md navbar-light bg-light main-navbar">
        <a class="navbar-brand" href="/">
            <img src="../assets/logo.png" class="img-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto" v-if="this.$session.get('role') !== 'mitra'">
                <li class="nav-item active">
                    <a class="nav-link shoclean-nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Service
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Tas</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/service">Laundry</a></li>
                                <li><a class="dropdown-item" href="/service">Repair</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="dropdown-item dropdown-toggle" href="#">Sepatu</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/service?type=shoes">Laundry</a></li>
                                <li><a class="dropdown-item" href="/service?type=shoes">Repair</a></li>
                                <li><a class="dropdown-item" href="/service?type=shoes">Repaint</a></li>
                                <li><a class="dropdown-item" href="/service?type=shoes">Unyellowing</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" v-if="this.$session.get('login_status') === 'logged_in' && this.$session.get('role') === 'customer'">
                    <a class="nav-link shoclean-nav-link" href="/customer/listOrder">Order List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link shoclean-nav-link" href="AboutUs">About Us</a>
                </li>
                <li class="nav-item" v-if="this.$session.get('login_status') !== 'logged_in'">
                    <a class="nav-link shoclean-nav-link" href="/Partners">Mitra Kami</a>
                </li>
                <!--<li class="nav-item" v-if="this.$session.get('login_status') === 'logged_in' && this.$session.get('role') === 'customer'">-->
                    <!--<a class="nav-link shoclean-nav-link" href="#">Komplain</a>-->
                <!--</li>-->
            </ul>
            <ul class="navbar-nav mr-auto" v-if="this.$session.get('login_status') === 'logged_in' && this.$session.get('role') === 'mitra'">
                <li class="nav-item active">
                    <a class="nav-link shoclean-nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Input
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <li><a class="dropdown-item" href="/mitra/listCreateInvoice">Input Invoice</a></li>
                        <li><a class="dropdown-item" href="/mitra/CreateCustomerData">Input Data Customer</a></li>
                        <li><a class="dropdown-item" href="/mitra/listCreateReceipt">Input Kuitansi</a></li>
                        <li><a class="dropdown-item" href="/mitra/listCreatePickup">Input Pickup</a></li>
                        <li><a class="dropdown-item" href="/mitra/listCreateDelivery">Input Delivery</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Laporan
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
                        <li><a class="dropdown-item" href="/mitra/reportCustomer">Laporan Data Customer</a></li>
                        <li><a class="dropdown-item" href="/mitra/reportService">Laporan Service</a></li>
                        <li><a class="dropdown-item" href="/mitra/reportInvoice">Laporan Invoice</a></li>
                        <li><a class="dropdown-item" href="/mitra/reportReceipt">Kuitansi</a></li>
                        <li><a class="dropdown-item" href="/mitra/reportPickupDelivery">Laporan Pick Up-Delivery</a></li>
                        <li><a class="dropdown-item" href="/mitra/reportComplain">Laporan Komplain</a></li>
                    </ul>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0" v-if="this.$session.get('login_status') !== 'logged_in'">
                <a class="nav-link" href="#" @click="$bvModal.show('bv-login-modal')">Login</a> / <a class="nav-link" href="#" @click="$bvModal.show('bv-register-modal')">Register</a>
                <LoginModal></LoginModal>
                <RegisterModal></RegisterModal>
                <ForgetPassword></ForgetPassword>
            </form>
            <form class="form-inline mt-2 mt-md-0" v-if="this.$session.get('login_status') === 'logged_in'">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{this.$session.get('username')}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown5">
                            <li><a class="dropdown-item" @click="logout" href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</template>



<script>
    import LoginModal from './LoginModal'
    import RegisterModal from './RegisterModal'
    import ForgetPassword from './ForgetPassword'

    export default {
        name: "Header",
        components: {
            LoginModal,
            RegisterModal,
            ForgetPassword
        },
        methods:{
            logout(){
                this.$session.destroy();
                window.location = "/";
            }
        }
    }
</script>

<style scoped>
    .img-logo {
        min-height: 30px;
        max-height: 50px;
    }

    .navbar-nav li:hover>ul.dropdown-menu {
        display: block;
    }

    .navbar-nav li:hover>ul.dropdown-submenu {
        display: block;
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
    }


    /* rotate caret on hover */

    .dropdown-menu>li>a:after {
        text-decoration: underline;
        transform: rotate(-90deg);
    }
</style>