<template>
    <div class="row">
        <div class="col-4">
            <b-card
                    img-src="../../public/assets/img/jenis sepatu.png"
                    img-alt="Image"
                    img-bottom
                    tag="article"
                    class="mb-2"
            >
                <a href="#shoesType" variant="primary">Jenis Sepatu Dan Penanganan</a>
            </b-card>
        </div>
        <div class="col-4">
            <b-card
                    img-src="../../public/assets/img/jenis_tas.png"
                    img-alt="Image"
                    img-bottom
                    tag="article"
                    class="mb-2"
            >
                <a href="#bagType" variant="primary">Jenis Tas Dan Penanganan</a>
            </b-card>
        </div>
        <div class="col-4">
            <b-card
                    img-src="../../public/assets/img/FAQ.png"
                    img-alt="Image"
                    img-bottom
                    tag="article"
                    class="mb-2"
            >
                <a href="#" variant="primary">FAQ</a>
            </b-card>
        </div>
        <div class="col-6">

            <b-card
                    img-src="../../public/assets/img/before after.png"
                    img-alt="Image"
                    img-bottom
                    tag="article"
                    class="mb-2"
            >
                <a href="#beforeAfter" variant="primary">Before After</a>
            </b-card>
        </div>
        <div class="col-6">
            <b-card
                    img-src="../../public/assets/img/testimoni.png"
                    img-alt="Image"
                    img-bottom
                    tag="article"
                    class="mb-2"
            >
                <a href="/test" variant="primary">Testimoni</a>
            </b-card>
        </div>
    </div>
</template>

<script>
    export default {
        name: "HomeMenu"
    }
</script>

<style scoped>

</style>