<template>
    <b-modal id="bv-login-modal" ref="bv-login-modal" hide-header>
        <div class="d-block text-center">

            <b-card class="mt-3" header="Message" v-if="this.login_message != ''">
                <pre class="m-0">{{ login_message }}</pre>
            </b-card>
            <i class="fas fa-user-circle fa-lg white-text fa-10x mb-5 mt-5"> </i>
            <b-form @submit="onSubmit" v-if="show">
                <b-form-group
                        id="input-group-1"
                        label-for="input-1"
                >
                    <b-form-input
                            id="input-1"
                            v-model="form.username"
                            type="text"
                            required
                            placeholder="Username"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2">
                    <b-form-input
                            id="input-2"
                            v-model="form.password"
                            type="password"
                            required
                            placeholder="Password"
                    ></b-form-input>
                </b-form-group>

                <b-button size="lg" type="submit" variant="danger">Login</b-button>
            </b-form>
        </div>

        <template v-slot:modal-footer>
            <div class="w-100">
                <a href="#"
                   variant="primary"
                   size="sm"
                   class="float-left"
                   @click="showRegister"
                >
                    Daftar
                </a>
                <a href="#"
                   variant="primary"
                   size="sm"
                   class="float-right"
                   @click="showForgetPassword"
                >
                    Lupa Password
                </a>
            </div>
        </template>
    </b-modal>
</template>

<script>
    // import axios from 'axios';

    export default {
        name: "LoginModal",
        data() {
            return {
                form: {
                    username: '',
                    password: ''
                },
                login_message : '',
                show: true,
                loadingState : false
            }
        },
        methods: {
            showRegister(){
                this.$root.$emit('bv::hide::modal', 'bv-login-modal');
                this.$root.$emit('bv::show::modal', 'bv-register-modal');
            },
            showForgetPassword(){
                this.$root.$emit('bv::hide::modal', 'bv-login-modal');
                this.$root.$emit('bv::show::modal', 'bv-forgetPassword-modal');
            },
            onSubmit(evt) {
                const formData = new FormData();
                formData.set('username',this.form.username);
                formData.set('password',this.form.password);

                evt.preventDefault();
                this.$http.post(this.$apiUrl+'auth/login', formData)
                .then(function (response) {
                    if (response.status === 200) {
                        this.$session.start();

                        Object.keys(response.data.user).forEach((key) =>{
                            this.$session.set(key,response.data.user[key]);
                        });

                        if(response.data.user.user_type === '1'){
                            this.$session.set('role', 'mitra')
                        }

                        if(response.data.user.user_type === '2'){
                            this.$session.set('role', 'customer')
                        }

                        if(response.data.user.user_type === '3'){
                            this.$session.set('role', 'admin')
                        }

                        this.$session.set('login_status', 'logged_in')

                        this.loadingState = true;

                        this.$toasted.show(response.data.message, {
                            theme: "toasted-primary",
                            position: "top-center",
                            duration : 5000
                        });

                        setTimeout(function(){
                            window.location.reload()
                        }, 1000);

                    }
                }, function (err) {
                    this.$toasted.show(err.data.message, {
                        theme: "toasted-primary",
                        position: "top-center",
                        duration : 5000
                    });
                })
            }
        }
    }
</script>

<style scoped>

</style>