<template>
    <b-modal id="bv-pickup-modal" ref="bv-pickup-modal" hide-footer
             :header-bg-variant="headerBgVariant"
             :header-text-variant="headerTextVariant">
        <template v-slot:modal-title class="text-center">
            Pickup
        </template>
        <div class="d-block">
            <b-form>
                <div class="row">
                    <div class="col-4 pt-2">
                        Nama Kurir
                    </div>
                    <div class="col-8">
                        <b-form-input
                                id="input-0"
                                v-model="form.name"
                                type="text"
                                required
                                placeholder="Nama Kurir"
                        ></b-form-input>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4 pt-2">
                        Waktu Pickup
                    </div>
                    <div class="col-8">
                        <date-pick
                                v-model="form.date"
                                :pickTime="true"
                                :format="'YYYY-MM-DD HH:mm'"
                        ></date-pick>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 pt-2 text-center">
                        <b-button size="lg" type="submit" variant="primary" class="mt-2">Register</b-button>
                    </div>
                </div>

            </b-form>
        </div>
    </b-modal>
</template>

<script>
    import DatePick from 'vue-date-pick';
    import 'vue-date-pick/dist/vueDatePick.css';

    export default {
        name: "PickupModal",
        components :{
            DatePick
        },
        data(){
            return {
                form : {
                    name : '',
                    date : ''
                },
                show: false,
                variants: ['primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark'],
                headerBgVariant: 'primary',
                headerTextVariant: 'light',
                bodyBgVariant: 'light',
                bodyTextVariant: 'dark',
                footerBgVariant: 'warning',
                footerTextVariant: 'dark'
            }
        }
    }
</script>

<style scoped>

</style>