<template>
    <b-modal id="bv-register-modal" ref="bv-register-modal" hide-footer
             :header-bg-variant="headerBgVariant"
             :header-text-variant="headerTextVariant">
        <template v-slot:modal-title>
            Register
        </template>
        <div class="d-block text-center">
            <b-form @submit="onSubmit">
                <b-form-group
                        id="input-group-0"
                        label-for="input-0"
                >
                    <b-form-input
                            id="input-0"
                            v-model="form.name"
                            type="text"
                            required
                            placeholder="Name"
                    ></b-form-input>
                </b-form-group>
                <b-form-group
                        id="input-group-1"
                        label-for="input-1"
                >
                    <b-form-input
                            id="input-1"
                            v-model="form.email"
                            type="email"
                            required
                            placeholder="Email"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2">
                    <b-form-input
                            id="input-2"
                            v-model="form.username"
                            type="text"
                            required
                            placeholder="Username"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-3">
                    <b-form-input
                            id="input-3"
                            v-model="form.phone"
                            type="text"
                            required
                            placeholder="No. Handphone"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-4">
                    <b-form-input
                            id="input-4"
                            v-model="form.password"
                            type="password"
                            required
                            placeholder="Password"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-5">
                    <b-form-input
                            id="input-5"
                            v-model="form.passwordConfirm"
                            type="password"
                            required
                            placeholder="Confirm Password"
                    ></b-form-input>
                </b-form-group>

                <b-form-checkbox
                        id="checkbox-1"
                        v-model="status"
                        name="checkbox-1"
                        value="accepted"
                        unchecked-value="not_accepted"
                >
                    I Accept Terms and Condition
                </b-form-checkbox>

                <b-button size="lg" type="submit" variant="primary" class="mt-2">Register</b-button>
            </b-form>
        </div>
    </b-modal>

</template>

<script>
    export default {
        data() {
            return {
                form : {
                    'email' : '',
                    'username' : '',
                    'name' : '',
                    'phone' : '',
                    'password' : '',
                    'passwordConfirm' : '',
                },
                status : 'not_accepted',
                show: false,
                variants: ['primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark'],
                headerBgVariant: 'primary',
                headerTextVariant: 'light',
                bodyBgVariant: 'light',
                bodyTextVariant: 'dark',
                footerBgVariant: 'warning',
                footerTextVariant: 'dark'
            }
        },
        methods:{
            onSubmit(evt){
                evt.preventDefault();
                if(this.status == 'accepted'){
                    if(this.form.password != this.form.passwordConfirm){
                        this.$toasted.show('Password confirm not match', {
                            theme: "toasted-primary",
                            position: "top-center",
                            duration : 5000
                        });
                    }
                    else{
                        //api register here
                        const formData = new FormData();
                        formData.set('username',this.form.username);
                        formData.set('password',this.form.password);
                        formData.set('phone',this.form.phone);
                        formData.set('name',this.form.name);
                        formData.set('email',this.form.email);
                        formData.set('user_type', '2');

                        evt.preventDefault();
                        this.$http.post(this.$apiUrl+'auth/register', formData)
                            .then(function (response) {
                                console.log(response.data.user)
                                if (response.status === 200) {
                                    const formData2 = new FormData();
                                    formData2.set('username', this.form.username);
                                    formData2.set('password',this.form.password);

                                    evt.preventDefault();
                                    this.$http.post(this.$apiUrl+'auth/login', formData2)
                                        .then(function (response) {
                                            if (response.status === 200) {
                                                this.$session.start();

                                                Object.keys(response.data.user).forEach((key) =>{
                                                    this.$session.set(key,response.data.user[key]);
                                                });

                                                if(response.data.user.user_type === '1'){
                                                    this.$session.set('role', 'mitra')
                                                }

                                                if(response.data.user.user_type === '2'){
                                                    this.$session.set('role', 'customer')
                                                }

                                                if(response.data.user.user_type === '3'){
                                                    this.$session.set('role', 'admin')
                                                }

                                                this.$session.set('login_status', 'logged_in')

                                                this.loadingState = true;

                                                this.$toasted.show(response.data.message, {
                                                    theme: "toasted-primary",
                                                    position: "top-center",
                                                    duration : 5000
                                                });

                                                setTimeout(function(){
                                                    window.location.reload()
                                                }, 1000);

                                            }
                                        }, function (err) {
                                            this.$toasted.show(err.data.message, {
                                                theme: "toasted-primary",
                                                position: "top-center",
                                                duration : 5000
                                            });
                                        })

                                }

                                if (response.status === 409) {
                                    response.forEach((value) => {
                                        this.$toasted.show(value, {
                                            theme: "toasted-primary",
                                            position: "top-center",
                                            duration : 5000
                                        });
                                    });
                                }
                            }, function (err) {
                                this.$toasted.show(err.data.message, {
                                    theme: "toasted-primary",
                                    position: "top-center",
                                    duration : 5000
                                });
                            })

                    }
                }
                else{
                    this.$toasted.show('Please Accept Terms and Condition', {
                        theme: "toasted-primary",
                        position: "top-center",
                        duration : 5000
                    });
                }
                // alert(status)
            },
        },
        name: "RegisterModal"
    }
</script>

<style scoped>
    .head-m{
        width: 100%;
        text-align: center;
    }
</style>