<template>
    <div class="row mt-5 mb-5" id="shoesType">
        <div class="col-12">
            <b-card class="text-center">
                <div class="bg-header-shc text-light">
                    <h3>Jenis Sepatu Dan Penanganan</h3>
                </div>
                <div class="row">
                    <div class="col-12 mt-3">
                        <b-card-text class="text-left">
                            <h5><b>Authentic Leather (Berbahan dasar kulit asli / Genuine Leather)</b></h5>
                        </b-card-text>
                        <div class="row text-left">
                            <div class="col-4">
                                <img class="img-detail" src="../../public/assets/img/authentic leather.png"/>
                            </div>
                            <div class="col-3">
                                <b-card title="">
                                    <b-card-text>
                                        Contoh : <br />
                                        - Pantofel <br />
                                        - Loafer <br />
                                        - etc
                                    </b-card-text>
                                </b-card>
                            </div>
                            <div class="col-5">
                                <b-card title="">
                                    <b-card-text>
                                        Cara Merawat : <br />
                                        - Hindari sepatu dari terkena air <br />
                                        - Selalu gunakan semir sepatu <br />
                                        - Bersihkan sepatu dengan cairan pembersih <br />
                                        - Menjemur sepatu dengan cara diangin-anginkan <br />
                                        - Gunakan shoe tree atau shoe saddle <br />
                                        - Hindari penggunaan pengharum sepatu <br />
                                    </b-card-text>
                                </b-card>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <b-card-text class="text-left">
                            <h5><b>Synthetic Leather (Berbahan dasar kulit sintesis)</b></h5>
                        </b-card-text>
                        <div class="row text-left">
                            <div class="col-4">
                                <img class="img-detail" src="../../public/assets/img/synthetic leather.png"/>
                            </div>
                            <div class="col-3">
                                <b-card title="">
                                    <b-card-text>
                                        Contoh : <br />
                                        - Adidas Superstar <br />
                                        - Nike Air Jordan <br />
                                        - Sport Shoes
                                    </b-card-text>
                                </b-card>
                            </div>
                            <div class="col-5">
                                <b-card title="">
                                    <b-card-text>
                                        Cara Merawat : <br />
                                        - Bersihkan sepatu menggunakan sikat <br />
                                        - Cukup lap dengan lap yang basah<br />
                                        - Keringkan sepatu dengan mengangin-anginkan<br />
                                        - Gunakan silica gel<br />
                                    </b-card-text>
                                </b-card>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <b-card-text class="text-left">
                            <h5><b>Suede Leather (Berbahan dasar kulit suede)</b></h5>
                        </b-card-text>
                        <div class="row text-left">
                            <div class="col-4">
                                <img class="img-detail" src="../../public/assets/img/suede leather.png"/>
                            </div>
                            <div class="col-3">
                                <b-card title="">
                                    <b-card-text>
                                        Contoh : <br />
                                        - Sepatu Berbulu <br />
                                        - etc
                                    </b-card-text>
                                </b-card>
                            </div>
                            <div class="col-5">
                                <b-card title="">
                                    <b-card-text>
                                        Cara Merawat : <br />
                                        - Gunakan suede protector dan suede cleaner <br />
                                        - Gunakan karet penghapus untuk menghilangkan debu <br />
                                        - Gunakan penyedot debu untuk kotoran membandel <br />
                                        - Gunakan sikat gigi dan air untuk noda yang menempel <br />
                                        - Gunakan silica gel pada kotak sepatu
                                    </b-card-text>
                                </b-card>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <b-card-text class="text-left">
                            <h5><b>Canvas (Berbahan dasar kain)</b></h5>
                        </b-card-text>
                        <div class="row text-left">
                            <div class="col-4">
                                <img class="img-detail" src="../../public/assets/img/canvas.png"/>
                            </div>
                            <div class="col-3">
                                <b-card>
                                    <b-card-text>
                                        Contoh : <br />
                                        - Adidas Superstar <br />
                                        - Nike Air Jordan <br />
                                        - Sport Shoes
                                    </b-card-text>
                                </b-card>
                            </div>
                            <div class="col-5">
                                <b-card title="">
                                    <b-card-text>
                                        Cara Merawat : <br />
                                        - Bersihkan sepatu menggunakan sikat <br />
                                        - Cukup lap dengan lap yang basah<br />
                                        - Keringkan sepatu dengan mengangin-anginkan<br />
                                        - Gunakan silica gel<br />
                                    </b-card-text>
                                </b-card>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <b-card-text class="text-left">
                            <h5><b>Knit (Berbahan Rajut)</b></h5>
                        </b-card-text>
                        <div class="row text-left">
                            <div class="col-4">
                                <img class="img-detail" src="../../public/assets/img/knit.png"/>
                            </div>
                            <div class="col-3">
                                <b-card title="">
                                    <b-card-text>
                                        Contoh : <br />
                                        - Adidas NMD Prime Knit <br />
                                        - Nike Flyknit <br />
                                        - etc
                                    </b-card-text>
                                </b-card>
                            </div>
                            <div class="col-5">
                                <b-card title="">
                                    <b-card-text>
                                        Cara Merawat : <br />
                                        - Rendam dengan air hangat di campur dengan deterjen <br />
                                        - Jangan gunakan sikat cuci, cukup dibilas setelah kotoran lepas <br />
                                        - Rendam dengan larutan pelembut pakaian pada bilasan terakhir sebelum di jemur<br />
                                        - Jika menggunakan mesin cuci, gunakan soft mode <br />
                                        - Keringkan dengan perasaan lembut namun benar-benar kering<br />
                                    </b-card-text>
                                </b-card>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <b-card-text class="text-left">
                            <h5>Berbahan Dasar Jeans atau Denim</h5>
                        </b-card-text>
                        <div class="row text-left">
                            <div class="col-4">
                                <img class="img-detail" src="../../public/assets/img/jeansdenim.png"/>
                            </div>
                            <div class="col-3">
                                <b-card title="">
                                    <b-card-text>
                                        Contoh : <br />
                                         - Converse <br />
                                         - etc
                                    </b-card-text>
                                </b-card>
                            </div>
                            <div class="col-5">
                                <b-card title="">
                                    <b-card-text>
                                        Cara Merawat : <br />
                                        - Gunakan sikat berbulu halus atau sikat gigi <br />
                                        - Gunakan deterjen dan air hangat <br />
                                        - Tambahkan sedikit baking soda ke dalam larutan deterjen <br />
                                    </b-card-text>
                                </b-card>
                            </div>
                        </div>
                    </div>
                </div>
            </b-card>
        </div>
    </div>
</template>

<script>
    export default {

        name: "ShoesType"
    }
</script>

<style scoped>
    .img-detail{
        max-height: 200px;
        width: 100%;
    }
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>