<template>
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row text-left">
                <div class="col-4">
                    <img class="img-detail" src="../../public/assets/img/beludrusuede.png"/>
                </div>
                <div class="col-8">
                    <b-card title="">
                        <b-card-text>
                            <b>Laundry</b> sepatu terbagi atas 3 jenis : <br />
                            *Fast Clean <br />
                            &nbsp;- Cleaning Part : Upper Sole dan middle sole <br/>
                            &nbsp;- Duration : 60 menit<br/>
                            *Standar Clean <br />
                            &nbsp;- Cleaning Part : Upper Sole, out sole dan middle sole<br/>
                            &nbsp;- Duration : 1 hari<br/>
                            *Deep Clean <br />
                            &nbsp;- Cleaning Part : Upper Sole, out sole, middle sole, laces dan in sole<br/>
                            &nbsp;- Duration : 3-7 hari<br/>
                        </b-card-text>
                    </b-card>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="row text-left">
                <div class="col-4">
                    <img class="img-detail" src="../../public/assets/img/beludrusuede.png"/>
                </div>
                <div class="col-8">
                    <b-card title="">
                        <b-card-text>
                            <p><b>Repaint sepatu</b> adalah penawaran untuk sepatu berbahan canvas & suede. Sebelum dilakukan proses repoaint,
                            sepatu akan masuk dulu ke proses Deep Cleaning. Sesudah itu dilanjutkan dengan pengerjaan repaint (pewarnaan ulang)
                            menggunakan cat yang khusus dan aman untuk sepatu.</p>
                            <p>Durasi yang dibutuhkan kurang lebih 3-4 minggu.</p>
                        </b-card-text>
                    </b-card>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="row text-left">
                <div class="col-4">
                    <img class="img-detail" src="../../public/assets/img/beludrusuede.png"/>
                </div>
                <div class="col-8">
                    <b-card title="">
                        <b-card-text>
                            <p><b>Repair sepatu</b> adalah perbaikan sepatu seperti penjahitan, pengeleman, pemasangan aksesoris, penggantian sole sepatu.</p>
                            <p>Durasi yang dibutuhkan kurang lebih 2-3 minggu.</p>
                        </b-card-text>
                    </b-card>
                </div>
            </div>
        </div>
        <div class="col-12 mt-3">
            <div class="row text-left">
                <div class="col-4">
                    <img class="img-detail" src="../../public/assets/img/beludrusuede.png"/>
                </div>
                <div class="col-8">
                    <b-card title="">
                        <b-card-text>
                            <p><b>Unyellowing sepatu</b> adalah proses menghilangkan warna kuning pada midsole sepatu.</p>
                            <p>Durasi yang dibutuhkan kurang lebih 1-2 minggu.</p>
                        </b-card-text>
                    </b-card>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ShoesService"
    }
</script>

<style scoped>
    .img-detail{
        max-height: 200px;
        width: 100%;
    }

</style>