<template>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <b-card class="text-center">
                    <div class="bg-header-shc text-light">
                        <h3>List Order</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 mt-3">
                            <b-table :items="items" :fields="fields" striped responsive="sm">
                                <template v-slot:cell(action)="row">
                                    <b-button
                                            v-if="row.item.status === 'COMPLETED'"
                                            type="button"
                                            variant="primary"
                                            size="sm"
                                            :href="'/customer/createComplain?id=' + row.item.order_id"
                                    >
                                        Komplain
                                    </b-button>
                                </template>
                            </b-table>
                        </div>
                        <div class="col-12 mt-3" v-if="items.length < 1">
                            No Data Found
                        </div>
                    </div>
                </b-card>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ListOrder",
        data(){
            return {
                fields: ['no_order', 'nama_mitra', 'total_harga','tanggal_order','status','action'],
                items: [],
            }
        },
        mounted(){
            const formData = new FormData();
            formData.set('id',this.$session.get('kd_cust'));
            formData.set('user_type', '2');

            this.$http.post(this.$apiUrl+'order/listOrder', formData)
            .then(function (response) {
                    if (response.status === 200) {
                        let list = [];
                        response.data.data.map(function (value) {
                            let item = {};
                            item.invoice_id = value.invoice_id;
                            item.order_id = value.order_id;
                            item.no_invoice = value.no_invoice;
                            item.no_order = value.order_no;
                            item.nama_mitra = value.nama_mitra;
                            item.tanggal_order = value.tgl_order;
                            item.total_harga = 'Rp '+ value.total_harga.toLocaleString();
                            if(value.status === 1){
                                item.status = 'SUBMITTED';
                            }
                            if(value.status === 2){
                                item.status = 'ORDER RECEIVED ON MITRA';
                            }
                            if(value.status === 3){
                                item.status = 'ON PICKUP';
                            }
                            if(value.status === 5){
                                item.status = 'ON SERVICE';
                            }
                            if(value.status === 4){
                                item.status = 'ON DELIVERY';
                            }
                            if(value.status === 5){
                                item.status = 'COMPLETED';
                            }
                            item._showDetails = true;
                            list.push(item);
                        });
                        this.items = list;
                    }
                },
                function () {
                })
        }
    }
</script>

<style scoped>
    .bg-header-shc{
        background-color: #007bff !important;
    }
</style>