<template>
    <div id="app" v-scroll="handleScroll">
        <Header></Header>
        <div id="main">
            <router-view/>
            <!--<Homepage></Homepage>-->
            <div id="push"></div>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from './components/Header'
    import Footer from './components/Footer'

    export default {
        name: 'app',
        components: {
            Header,
            // Homepage,
            Footer
        },
        methods:{
            handleScroll: function () {
                let navbar = document.getElementsByClassName('main-navbar');
                let pos = window.scrollY;
                if(pos != 0 && !navbar.isFixed){
                    navbar.isFixed = true;
                    setTimeout(function () {navbar.isFixed = false; }, 1000)
                }
            }
        }
    }
</script>

<style>
    html,
    body {
        height: 100%;
        margin: 0;
        scroll-behavior: smooth;
    }

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        height: 100%;
        margin: 0;
    }

    #main {
        margin-top: 25px;
        min-height: 100%;
        margin-bottom: -250px;
    }

    #push{
        height: 250px;
    }
</style>
